<p>
  <strong>Student Name:</strong>
  <%= @student.student_name %>
</p>
 
<p>
  <strong>Enrollment:</strong>
  <%= @student.e_no %>
</p>

<p>
  <strong>College:</strong>
  <%= @student.col %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>
